body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}
.items {
    max-width: 50%;

}
h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    width: 75%;
}
p {
    font-size: 14px;
    color: #666;
    margin: 15px 0 -2px;
    width:75%;
}
.button {
    background-color: #ff6200;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    width: 30%;
    font-size: 14px;
}
.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: 250px;
    font-size: 14px;
    top: 65%;
    left: 50%;
    transform: translate(-150%, -50%);
}
.feature-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 26px;
    transition: background-color 0.3s;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.feature-item:hover {
    background-color: #e0e0e0;
}
.feature-item img {
    width: 30px !important;
    height: 30px;
}
.feat-text{
    margin-top: -8px;
}
.feat-text p {
    margin-top: 0px;
    font-size: 12px;
    width: 100%;
}
.features2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    width: 250px;
    font-size: 14px;
    top: 15%;
    left: 180%;
    transform: translate(-150%, -50%);
}
.hidden-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 7;
    width: 230px;
    overflow-wrap: break-word;
    white-space: normal;
}

.image-container {
    position: relative;
    max-width: 50%;
}
.image-container img {
    width: 100%;
    border-radius: 20px;
}
.image-container .mainIMG{
    object-fit: cover;
    height:360px;
    width: 360px;
}   
.tourism-industry {
    margin-top: 60px;
    padding: 40px;
    background-color: #f4f4f4;
    text-align: justify;
}

.tourism-industry .TI-text {
    max-width: 900px;
    margin: auto;
    text-align: center;
}
.tourism-industry h2 {
    margin-left: 12%;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.tourism-industry p {
    font-size: 16px;
    text-align: center;
    color: #666;
    margin: 0 auto;
    line-height: 1.6;
    max-width: 85%;
}

.VacationItineraries {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.text-box {
    position: relative;
    left: 5%;
    background-color: #f37021; 
    color: white;
    padding: 20px;
    width: 40%;
    min-width: 300px;
}

.image-box {
    width: 60%;
    padding-left: 20px;
}

.image-box img {
    width: 100%;
    height: auto;
}

.controls {
    position: absolute;
    left: 20%;
    bottom: -25%;
    display: flex;
    justify-content: space-between;
    width: 100px;
}
