*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter" !important;
}
nav {
    margin: 0px;
    padding: 0px;
    font-family: "Inter" !important;
  }
  
  .logo-image {
    width: 150px;
  }
  
  .nav-item { 
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .nav-link {
    font-size: 16px !important;
  }
  
  .nav-link:hover {
    color: #ff4d00 !important;
  }
  
  .Login-btn {
    border: none;
    color: #ff4d00 !important;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold !important;
  }
  
  .Login-btn:hover {
    color: white !important;
    background-color: #ff4d00 !important;
  }
.logo-image {
    width: 150px;
}

.nav-item{ 
    margin-left: 8px;
    margin-right: 8px;
}

.nav-link{
    font-size: 16px !important;
}

.nav-link:hover {
    color: #ff4d00 !important;
}

.Login-btn{
    border: none;
    color: #ff4d00 !important;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold !important;
}

.Login-btn:hover {
    color: white !important;
    background-color: #ff4d00 !important;
}