<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>BonVoyage</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Web Icon -->
   <link rel="shortcut icon" href="assets/Logo/BonVoyage - Square Logo.png" type="image/x-icon">

  <!-- Favicons -->
  <link href="/img/BondLogo.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <!-- CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
  <link href="/aos.css" rel="stylesheet">
  <link  href="/bootstrap-icons.css" rel="stylesheet">
  <link href="/glightbox.min.css" rel="stylesheet">
  <link href="/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/landing.css">
  <link rel="stylesheet" href="/ageneral.css">

</head>

<body class="index-page">
  
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>


<main class="main">
  <!--Navigation Bar-->
      <nav class="navbar navbar-expand-lg">
        <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/Logo/BonVoyage - Long Logo.png" alt="BonVoyageLogo" class="logo-image"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-3 pt-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/itineraries.html">Destination and Itineraries</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/about-us.html">About Us</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/contactus.html">Contact</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/partnership.html">Partners</a>
            </li>
            <li class="nav-item"></li>
                <a class="nav-link" aria-current="page" href="/registration.html">Sign up</a>
            </li>
            <li class="nav-item"></li>
                <button class="Login-btn nav-link" aria-current="page" href="#">Log in</button>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- R1 Section -->
    <section id="R1" class="section R1">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>Discover Your Next Adventure with BonVoyage!</h1>
            <p>Explore amazing trips tailored just for you and your group.</p>
            <div class="d-flex">
              <a href="index.html#about" class="btn-join-trip">Join a Trip Now!</a>
            </div>
            <div class="col-lg-12 order-1 order-lg-2 feedback-user-container">
              <p class="block-text">Join thousands of satisfied travelers who love BonVoyage!</p>
              <div class="profile-container">
                <img src="/img/clients/girl-formal.jpg" alt="Profile Icon" class="prof-icon">
                <div class="profile-info">
                    <span class="profile-name">Milly Kuschia</span>
                    <span class="profile-role">Adventurer & Travel Vlogger </span>
                </div>
            </div>
            
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg- 2" data-aos="zoom-out" data-aos-delay="200">
            <img src="/img/landing-page-pic.png" class="img-fluid animated" alt="">
          </div>
        </div>
        <div class="r1-foot-container">
            <span class="r1-foot-span">
            <h1>20 thousands</h1>
            <p class="r1-text">Explore 100+ Destinations</p>
          </span>
          <span class="r1-foot-span">
            <h1>24 billion</h1>
            <p class="r1-text">Experience Trips Worth 1 Billion Smiles</p>
          </span>
          <span class="r1-foot-span">
            <h1>99%</h1>
            <p class="r1-text">99% Customer Satisfaction Rate</p>
          </span>
        </div>
      </div>
    </section><!-- /R1 Section -->

    <!-- About Brose Exciting Trips -->

    <section class="browse-trips" id="browse-trips">
      <div class="browse-trips-div">
        <h1 class="section-title">Browse Our Exciting Trips</h1>
        <p class="section-description">Explore Your New Adventure with BonVoyage!</p>
        <div class="trips-container">
          <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 20
                  },
                  "480": {
                    "slidesPerView": 2,
                    "spaceBetween": 30
                  },
                  "768": {
                    "slidesPerView": 3,
                    "spaceBetween": 40
                  },
                  "992": {
                    "slidesPerView": 4,
                    "spaceBetween": 50
                  },
                  "1200": {
                    "slidesPerView": 6,
                    "spaceBetween": 60
                  }
                }
              }
            </script>
            <div class="swiper-wrapper">
              <div class="swiper-slide trip-item">
                <a href=" index.html#R1">
                <img src="/img/beach1.jpg" alt="Beach getaways" class="trip-image">
                </a>
                <p class="trip-label">Beach getaways</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/mountain-retreats.jpg" alt="Mountain Retreats" class="trip-image">
                </a>
                <p class="trip-label">Mountain Retreats</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/cultural-tours.jpg" alt="Cultural Tours" class="trip-image">
                </a>
                <p class="trip-label">Cultural Tours</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/adventure-trips.jpg" alt="Adventure Trips" class="trip-image">
                </a>
                <p class="trip-label">Adventure Trips</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/family-vacation.jpg" alt="Family Vacations" class="trip-image">
                </a>
                <p class="trip-label">Family Vacations</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/educational-tours.jpg" alt="Educational Tours" class="trip-image">
                </a>
                <p class="trip-label">Educational Tours</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/tourist-tours.jpg" alt="Tourist Tours" class="trip-image">
                </a>
                <p class="trip-label">Tourist Tours</p>
              </div>
              <div class="swiper-slide trip-item">
                <a href=" index.html#about">
                <img src="/img/one-day.jpg" alt="One Day Trips" class="trip-image">
                </a>
                <p class="trip-label">One Day Trips</p>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
      </div>
    </div>
  </section>
    
      <!-- R3 Section -->
      <section id="R3" class="section R3 light-background" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
              <h1>Be a host and earn commissions!</h1>
              <p class="">Publish curated trips and itineraries to find the perfect getaway that suits your mood!.</p>
              <div class="d-flex">
                <a href="index.html#hosting" class="btn-start-journey">Start Your Jorney Now</a>
              </div>
              <div class="col-lg-12 order-1 order-lg-2 feedback-user-container">
                <div class="star-rating">
                  <span class="star" data-rating="1">&#9733;</span>
                  <span class="star" data-rating="2">&#9733;</span>
                  <span class="star" data-rating="3">&#9733;</span>
                  <span class="star" data-rating="4">&#9733;</span>
                  <span class="star" data-rating="5">&#9733;</span>
                  <span class="text-rating">5.0</span>
                </div>                
                <p class="block-text">Gain and build a profound host reputation and earn!</p>
                <div class="profile-container">
                  <img src="/img/indian-tourist.jpg" alt="Profile Icon" class="prof-icon">
                  <div class="profile-info">
                      <span class="profile-name">Aluh Akhbar</span>
                      <span class="profile-role">Indian Tourist </span>
                  </div>
              </div>
              </div>
            </div>
            <div class="col-lg-6 order-1 order-lg- 2" class="section-img-container">
              <img src="/img/beach-2.jpg" class="section-img-container" alt="">
            </div>
          </div>
          </div>
        </div>
      </section><!-- /R1 Section -->

    <!-- choose unique Section -->

      <section class="unique" id="unique">
        <div class="unique-trips-div">
          <p class="section-description">Find More Themed Trips Today!</p>
          <h1 class="section-title">Choose from our diverse and unique trips!</h1>
          <div class="unique-container">
            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 20
                    },
                    "480": {
                      "slidesPerView": 2,
                      "spaceBetween": 30
                    },
                    "768": {
                      "slidesPerView": 3,
                      "spaceBetween": 40
                    },
                    "992": {
                      "slidesPerView": 4,
                      "spaceBetween": 50
                    },
                    "1200": {
                      "slidesPerView": 6,
                      "spaceBetween": 60
                    }
                  }
                }
              </script>
              <div class="swiper-wrapper">
                <div class="swiper-slide trip-item">
                  <a href=" index.html#R1">
                  <img src="/img/culinary-adventure.jpg" alt="Culinary Adventure" class="trip-image">
                  </a>
                  <p class="trip-label">Culinary Adventure</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/wildlife-safaris.jpg" alt="Wildlife Safaris" class="trip-image">
                  </a>
                  <p class="trip-label">Wildlife Safaris</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/romantic-getaways.jpg" alt="Romantic Getaways" class="trip-image">
                  </a>
                  <p class="trip-label">Romantic Getaways</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/challenging-wild-tours.jpg" alt="Challenging Wild Tours" class="trip-image">
                  </a>
                  <p class="trip-label">Challenging Wild Tours</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/skuba-divings.jpg" alt="Skuba Divings" class="trip-image">
                  </a>
                  <p class="trip-label">Skuba Divings</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/private-tours.jpg" alt="Private Tours" class="trip-image">
                  </a>
                  <p class="trip-label">Private Tours</p>
                </div>
                <div class="swiper-slide trip-item">
                  <a href=" index.html#about">
                  <img src="/img/publish-your-own.jpg" alt="Publish Your Own" class="trip-image">
                  </a>
                  <p class="trip-label">Host a Tour</p>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
        </div>
      </div>
    </section>

    <!-- menu section -->
    <section id="menu" class="menu section light-background">
      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Explore More!</h2>
        <p>New adventure awaits here!</p>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="menu-item position-relative">
              <img src="/img/find-tour.png" alt="">
              <h4><a href="" class="stretched-link">Find a Tour</a></h4>
              <p class="menu-item-text">
                Explore our website and find tours that suit your trip and your budget!
              </p>
              <button class="learn-more-btn">Learn More</button>
            </div>
          </div><!-- End menu Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="menu-item position-relative">
              <img src="/img/host-tour.png" alt="">
              <h4><a href="" class="stretched-link">Host an Exciting Trip</a></h4>
              <p class="menu-item-text">
                Immerse yourself in our hosting program which allows you to earn incentives
                and discounts!
              </p>
              <button class="learn-more-btn">Learn More</button>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="menu-item position-relative">
              <img src="/img/view-itineraries.png" alt="">
              <h4><a href="" class="stretched-link">View Itineraries</a></h4>
              <p class="menu-item-text">
                Find out more about affordable and time exclusive trips!
              </p>
              <button class="learn-more-btn">Learn More</button>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="menu-item position-relative">
              <img src="/img/join-team.png" alt="">
              <h4><a href="" class="stretched-link">Join Our Team</a></h4>
              <p class="menu-item-text">
                Start your career with BonVoyage! Be a professional and love your job at the same time!
              </p>
              <button class="learn-more-btn">Learn More</button>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- /Services Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Why choose us for best tour experience? </h2>
        <p>Here in BonVoyage we offer a lot of tours that best suits your preference. Join wide variety of tours around the Philippines.</p>
      </div><!-- End Section Title -->

    <div class="container reasons" data-aos="fade-up">
      <div class="reason1" data-aos="fade-up">
        <div class="text-container">
          <h3 class="mb-3">Various Curated Exciting Itineraries</h3>
          <p>Our tours are designed by travel experts who know the ins and outs of each destination, ensuring you experience the best sights, culture, and hidden gems.  We understand that every traveler is unique. Our tours offer flexibility and customization options, allowing you to tailor your journey to your interests.</p>
        </div>
        <div class="image-container">
          <img src="/img/itineraries-img.png" alt="itineraries" class="reason-img1" data-aos="fade-up">
        </div>
        <div class="randomCircle2" data-aos="fade-up"></div>
      </div>
      <div class="reason1" data-aos="fade-up">
        <div class="image-container">
          <img src="/img/itineraries-img2.png" alt="itineraries" class="reason-img2" data-aos="fade-up">
        </div>
        <div class="text-container justify-content-end">
          <h3 class="mb-3">Safety and Comfort</h3>
          <p class="mb-5">We prioritize your safety and comfort throughout your journey, with reliable transportation and accommodations that meet high standards. Enjoy a more intimate experience with smaller groups, allowing for better interaction, personalized attention, and a more relaxed atmosphere.</p>
        </div>
        <div class="randomCircle" data-aos="fade-up"></div>
      </div>
      <div class="reason1" data-aos="fade-up">
        <div class="text-container">
          <h3 class="mb-3">Competitive Pricing and Diverse Destinations</h3>
          <p>We offer great value for your money without compromising on quality. Our transparent pricing includes all essential elements, so you can plan your budget with confidence. Whether you’re looking for adventure, relaxation, or cultural immersion, we offer a wide range of destinations to suit every traveler's taste, from bustling cities to serene landscapes.</p>
        </div>
        <div class="image-container">
          <img src="/img/itineraries-img3.png" alt="itineraries" class="reason-img1" data-aos="fade-up" style=" border-radius: 50% 0 0 0 ;">
        </div>
        <div class="randomCircle2" data-aos="fade-up"></div>
      </div>
    </div>

     
    </section>
    <!-- /Faq Section -->

    <!-- Team Section -->
    <section id="team" class="team section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Find the Perfect trip that best suits you!</h2>
        <p>The group of adventurous collaborators of BonVoyage who made significant contributions to the company along the way making BonVoyage as it is today.</p>
      </div><!-- End Section Title -->
      <div class="container search-destination d-flex justify-content-center align-items-center mb-5">
        <input type="text" class="search-input" id="searchDestination" data-aos="fade-up">
        <i class='bx bx-search ms-3'></i>
      </div>

      <div class="registerOrLogin container" data-aos="fade-up">
        <div class="register-div">
          <h3>Register an Account</h3>
          <p>Join us at BonVoyage! By registering an account, you’ll unlock exclusive benefits that make planning your trips easier and more enjoyable.</p>
          <div class="video-container-register"  style="padding: 0px;">
            <video src="/assets/videos/upload-tutorial-main-destination.mp4" autoplay loop></video>
          </div>
          <span class="d-flex justify-content-center">
            <button>Register Now</button>
          </span>
        </div>
        <div class="partner-div">
          <h3 style="color: white;">Be One of Our Partners</h3>
          <p style="color: white;">Join us at BonVoyage! By registering an account, you’ll unlock exclusive benefits that make planning your trips easier and more enjoyable.</p>
          <div class="video-container-register" style="padding: 0px;">
            <video src="/assets/videos/upload-tutorial-main-destination.mp4" autoplay loop></video>
          </div>
          <span class="d-flex justify-content-center">
            <button style="background-color: white; color: #eb5d1e;">Apply Now</button>
          </span>
        </div>
      </div>

    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>At BonVoyage, our FAQs are designed to answer all your burning questions about joining trips, booking processes, and travel tips. Don't hesitate to ask your questions—your adventure starts with the right information!</p>
      </div><!-- End Section Title -->

      <div class="frequentlyAsked container">
        <div class="haveQuestion" data-aos="fade-up">
          <h3 class="faqs-title">
            Do you have Questions in Mind?
          </h3>
          <p>
            Here, you'll find answers to common inquiries about our products, services, and policies. Whether you're looking for information on ordering, shipping, or troubleshooting, we've got you covered.
          </p>
          <button>Ask a Question</button>
        </div>
        <div class="Faqs">
          <div id="FAQsCarousel" class="carousel slide" data-aos="fade-up">
            <div class="carousel-inner">
              <div class="carousel-item active"> <!-- Carousel Container-->
                <div class="d-flex" style="flex-direction: column; gap: 20px;">

                  <div class="questionContainer faq-item">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq1">
                      How do I register for an account?
                      <i class='bx bx-plus seeAns'></i>
                    </h5>
                    <div id="faq1" class="answer collapse">
                      <p class="mt-2 mb-0">
                        You can register by clicking the "Sign Up" button on our homepage. Fill in your details, and you'll be ready to explore!
                      </p>
                    </div>
                  </div>

                  <div class="questionContainer faq-item">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq2">
                      What is BonVoyage?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq2" class="answer collapse">
                      <p class="mt-2 mb-0">
                        BonVoyage is your go-to platform for hassle-free travel planning and booking. We connect travelers with exciting trips and exclusive deals.
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer faq-item">
                    <h5  data-bs-toggle="collapse" data-bs-target="#faq3">
                      Is there a fee to join BonVoyage?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq3" class="answer collapse">
                      <p class="mt-2 mb-0">
                        No, signing up for an account is completely free! Enjoy all the benefits without any costs.
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer faq-item">
                    <h5  data-bs-toggle="collapse" data-bs-target="#faq4">
                      What benefits do I get as a registered user? 
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq4" class="answer collapse">
                      <p class="mt-2 mb-0">
                        As a registered user, you gain access to personalized travel recommendations, exclusive discounts, early notifications for trips, and a streamlined booking process.
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer faq-item" data-bs-toggle="collapse" data-bs-target="#faq5">
                    <h5>
                      How do I join a trip?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq5" class="answer collapse">
                      <p class="mt-2 mb-0">
                        Once you’ve registered, browse our trip listings. Click on the trip you’re interested in and follow the prompts to secure your spot.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex" style="flex-direction: column; gap: 20px;">
                  <div class="questionContainer">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq6">
                      Can I modify or cancel my trip after joining?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq6" class="answer collapse">
                      <p class="mt-2 mb-0">
                        Yes, you can modify or cancel your trip, but be sure to check our cancellation policy for specific details regarding fees and deadlines.
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq7">
                      How do I find out about new trips and deals? 
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq7" class="answer collapse">
                      <p class="mt-2 mb-0">
                        As a registered user, you’ll receive regular updates via email about new trips, special promotions, and travel tips tailored to your interests.
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq8">
                      What if I have questions about a specific trip?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq8" class="answer collapse">
                      <p class="mt-2 mb-0">
                        Feel free to reach out to our customer support team through the contact form on our website, and we’ll be happy to assist you!
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq9">
                      Can I invite friends to join trips?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq9" class="answer collapse">
                      <p class="mt-2 mb-0">
                        Absolutely! You can share trip links with friends, and if they sign up and book through BonVoyage, you may even earn referral benefits!
                      </p>
                    </div>
                  </div>
                  <div class="questionContainer">
                    <h5 data-bs-toggle="collapse" data-bs-target="#faq10">
                      What payment methods do you accept?
                      <i class='bx bx-plus seeAns' ></i>
                    </h5>
                    <div id="faq10" class="answer collapse">
                      <p class="mt-2 mb-0">
                        We accept various payment methods, including credit/debit cards and popular online payment options. Check our payment page for more details.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-container">
              <button class="prev-Button" data-bs-target="#FAQsCarousel" data-bs-slide="prev"><i class='bx bx-chevron-left' ></i></button>
              <button class="next-Button" data-bs-target="#FAQsCarousel" data-bs-slide="next"><i class='bx bx-chevron-right' ></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr style="color: #b4b4b4;">
    <footer id="footer" class="footer" style="background-color: #fafafa;" data-aos="fade-up">
      <div class="container footer-top">
          <div class="row gy-4">
              <div class="col-lg-3 col-md-3 footer-links">
                  <p class="col-title">Features</p>
                  <ul>
                      <li><a href="#">Custom Itineraries</a></li>
                      <li><a href="#">Easy Booking</a></li>
                      <li><a href="#">24/7 Support</a></li>
                      <li><a href="#">Group Discounts</a></li>
                      <li><a href="#">Flexible Payments</a></li>
                  </ul>
              </div>
  
              <div class="col-lg-3 col-md-3 footer-links">
                  <p class="col-title">Explore Trips</p>
                  <ul>
                      <li><a href="#">Beach Escapes</a></li>
                      <li><a href="#">Mountain Adventures</a></li>
                      <li><a href="#">Cultural Journeys</a></li>
                      <li><a href="#">Family Trips</a></li>
                      <li><a href="#">Weekend Getaways</a></li>
                  </ul>
              </div>
  
              <div class="col-lg-3 col-md-3 footer-links">
                  <p class="col-title">About BondVoyage</p>
                  <ul>
                      <li><a href="#">Our Mission</a></li>
                      <li><a href="#">Meet The Team</a></li>
                      <li><a href="#">Join Our Community</a></li>
                      <li><a href="#">Sustainability and Commitment</a></li>
                      <li><a href="#">Careers</a></li>
                  </ul>
              </div>
  
              <div class="col-lg-3 col-md-3 col-sm-6 footer-links footer-link-4">
                  <p class="col-title">Follow Us</p>
                  <ul>
                      <li><a href="#">Facebook </a></li>
                      <li><a href="#">Instagram</a></li>
                      <li><a href="#">Twitter</a></li>
                      <li><a href="#">LinkedIn</a></li>
                      <li><a href="#">YouTube</a></li>
                  </ul>
              </div>
          </div>
  
          <div class="credit d-flex justify-content-center">
              <span><img class="footer-logo" src="/BondVoyage/assets/img/BondLogo.png" alt="">
                  <span class="credit-text-1">BondVoyage - Travel made easy for everyone.</span>
              </span>
              <span class="credit-text-2">© 2024 BondVoyage. All rights reserved.</span>
          </div>
      </div>
   
      
  </footer>
  
  
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class='bx bx-chevrons-up'></i></a>
  
    <!-- Preloader -->
    <div id="preloader"></div>

  </main>


  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class='bx bx-chevrons-up'></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="/validate.js"></script>
  <script src="/aos.js"></script>
  <script src="/glightbox.min.js"></script>
  <script src="/imagesloaded.pkgd.min.js"></script>
  <script src="/isotope.pkgd.min.js"></script>
  <script src="/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="/landing.js"></script>
</body>
</html>